*{
    @import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Space+Grotesk:wght@300..700&display=swap');
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-family: "Space Grotesk", system-ui;
    font-size: 90px;
    text-align: center;
    font-weight: bold;
    letter-spacing: -5px;
    line-height: 1;
    font-weight: 1000;
}
p{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 25px;
    text-align: center;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.word-one{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 15px;
    background-color: greenyellow;
    color: black;
    width: 170px;
    padding: 5px;
    border-radius: 25px;
    text-align: center;
    font-weight: 1000;
}
 .word-two{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 15px;
    color: black;
    text-decoration: underline;
    font-weight: 800;
}
img{
    image-orientation: flip;
    border-image-width: auto;
}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}
.word-three{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 15px;
    color: black;
    text-decoration: underline;
    font-weight: 800;
}
.word-four{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 15px;
    color: black;
    text-decoration: underline;
    font-weight: 800;
}
.word-five{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 15px;
    color: black;
    text-decoration: underline;
    font-weight: 800;
}
.gen-cont{
    display: flex;
    justify-content: space-around;
    align-items: start;
    margin: 30px 50px;
}

.gen-cont p{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 15px;
    color: black;
    text-align: left;
    font-weight: 500;
}
.cont span{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 15px;
    color: black;
    text-align: left;
    font-weight: 800;
    text-decoration: none;
}

.cont{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
}